.header {
  &__top{
    height: 41px;
    background: #44626e;
  }
  &__bottom {
    height: 97px;
    background: #e7edf5;
  }
}
.social {
  display: inline-block;
  &__wrap {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: left;
  }
  &__item {
    display: inline-block;
    //margin-left: 3px;
    &:first-child {
      margin-left: 0;
    }
  }
}
.address {
  display: inline-block;
  font: 13px "ElektraPro";
  color: #ffffff;
  &__wrap {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: center;
  }
  &__ic {
    margin-right: 5px;
    vertical-align: middle;
  }
  &__text {
    vertical-align: middle;
  }
}
.telephone {
  display: inline-block;
  font: 25px "ElektraPro";
  color: #ffffff;
  &__wrap {
    display: inline-block;
    width: 33%;
    vertical-align: middle;
    text-align: right;
  }
  &__mod {
    margin-right: 3px;
    font-size: 15px;
    color: #2090bb;
    vertical-align: top;
  }
}
.logo {
  &__wrap {
    display: inline-block;
    width: 25%;
    vertical-align: middle;
    text-align: left;
  }
}
.search {
  //font-size: 0;
  height: 35px;
  &__wrap {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    text-align: left;
  }
  &__input {
    margin-top: -10px;
    padding: 11px 10px;
    width: 259px;
    height: 35px;
    border: 1px solid #dce6f0;
    border-right: none;
    border-radius: 0;
    font: 15px "ElektraPro";
    color: #dce6f0;
    @include placeholder() {
      font: 15px "ElektraPro";
      color: #dce6f0;
    }
  }
  &__btn {
    width: 80px;
    height: 35px;
    text-align: center;
    //vertical-align: middle;
    background: #00b9fe;
    border: none;
    font: 17px "ElektraLightPro";
    color: #ffffff;
  }
}
.user-panel {
  &__wrap {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    text-align: left;
    padding-left: 13px;
  }
  &__item {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    //margin-left: 10px;
    height: 43px;
    line-height: 43;
    font: 13px "ElektraLightPro";
    color: #00b9fe;
    text-decoration: underline;
    vertical-align: middle;
    &:first-child {
      //padding-left: 0;
    }
    &:hover {
      color: #5c7b98;
      background: #ffffff;
    }
  }
  &__link {
    line-height: 43px;
    vertical-align: middle;
    &__ic {
      margin: 0 18px 0 1px;
      vertical-align: middle;
    }
    &__text {
      vertical-align: middle;
    }
    &:hover {
      color: #613993;
    }
    
  }
}
.basket-hover {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 9999;
  &__list {
    border: 1px solid #dce6f0;
  }
  &__item {
    height: 75px;
    width: 235px;
    padding: 12px 0;
    padding-left: 5px;
    background: #ffffff;
    @extend %middle;
    &_gray {
      background: #f8fafb;
    }
  }
  &__ic {
    //display: inline-block;
    ////width: 50px;
    ////text-align: right;
    //vertical-align: middle;
    &__wrap {
      display: inline-block;
      width: 50px;
      text-align: right;
      vertical-align: middle;
    }
  }
  &__link {
    display: inline-block;
    margin-left: 20px;
    width: 135px;
    vertical-align: middle;
    font-size: 13px;
    color: #00b9fe;
    text-align: left;
    text-decoration: underline;
    &_margin {
      margin-top: -20px;
    }
    &:hover {
      color: #613993;
    }
  }
}
.navigation {
  background: #f7f7f7;
  border-bottom: 1px solid #e3e3e3;
}
.nav-main {
  font-size: 0;
  &__item {
    height: 42px;
    display: inline-block;
    position: relative;
    //height: 100%;
    //@extend %middle;
    background: #f7f7f7;
    font: 15px "ElektraLightPro";
    color: #b9c5d1;
  }
  &__link {
    text-align: center;
    display:block;
    position: relative;
    padding: 12px 17px;
    height: 100%;
    background: #f7f7f7;
    &:after,&:before{
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      right: -35px;
      border: 21px solid transparent;
      border-left: 16px solid #f7f7f7;
      z-index: 999;
    }
    &:before {
      border-left: 16px solid #dbe2ec;
      right: -36px;
    }
    &:hover {
      background: #dce6f0;
      color: #ffffff;
      &:after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        right: -35px;
        border: 21px solid transparent;
        border-left: 16px solid #dce6f0;
        z-index: 9999;
      }
    }
    &_margin {
      padding-left: 27px;
    }
    &_active {
      background: #00b9fe;
      color: #ffffff;
      &:after,&:before {
        right: -37px;
        border-left: 16px solid #00b9fe;
      }
    }
  }
}
.widthp1 {
  width: 25%;
}
.widthp2 {
  width: 35%;
  left: 25%;
}
.widthp3 {
  width: 40%;
}