.nav-product {
  &__wrap {
    margin-top: 19px;
    margin-bottom: 16px;
  }
  &__item {
    display: inline-block;
    &:after {
      content: ">";
      display: inline-block;
      margin-left: 3px;
      color: #5c7b98;
      vertical-align: middle;
    }
    &_last-child {
      &:after {
        content: "";
      }
    }
  }
  &__link {
    display: inline-block;
    height: 100%;
    font: 14px "ElektraLightPro";
    color: #00b9fe;
    text-decoration: underline;
    vertical-align: middle;
  }
  &__text {
    display: inline-block;
    font: 14px "ElektraLightPro";
    color: #5c7b98;
    vertical-align: middle;
  }
}
.preview {
  margin-bottom: 54px;
  @extend %clearfix;
}
.product-info {
  width: 470px;
  float: left;
  &__title {
    font: 25px "ElektraLightPro";
    color: #00b9fe;
    &__wrap {
      margin-bottom: 27px;
    }
  }
}
.product-specs {
  width: 100%;
  td {
    padding: 10px;
    line-height: 16px;
    font: 14px "ElektraLightPro";
    color: #5c7b98;
  }
  &_grey {
    background: #eef2f4;
  }
}
.about-store {
  @extend %clearfix;
  margin-bottom: 39px;
  &__title {
    margin-bottom: 10px;
    font: 25px "ElektraLightPro";
    color: #5c7b98;
  }
  &__text {
    font: 15px "ElektraPro";
    color: #5c7b98;
    line-height: 20px;
  }
}
.up {
  display: block;
  position: fixed;
  right: 50px;
  bottom: 50px;
  padding: 10px 10px;
  background: #00b9fe;
  font: 16px "ElektraLightPro";
  color: #ffffff;
  &__wrap {
    position: absolute;
    right: -93px;
    bottom: 24px;
  }
  &:after {
    content: "";
    display: block;
    margin-left: -5px;
    position: absolute;
    top: -14px;
    left: 50%;
    border: 5px solid transparent;
    border-bottom: 9px solid #00b9fe;
  }
  &:before {
    content: "";
    display: block;
    margin-left: -5px;
    position: absolute;
    bottom: 0px;
    left: 50%;
    border: 5px solid transparent;
    border-bottom: 9px solid #fff;
  }
}
.slick-prev:before{
  content: "";
  display: inline-block;
  background: url("/images/arrow-left.png");
  width: 22px;
  height: 34px;
}
.slick-next:before {
  content: "";
  display: inline-block;
  background: url("/images/arrow-right.png");
  width: 22px;
  height: 34px;
}
.column {
  padding-left: 25px;
  &:first-child {
    padding-left: 0;
  }
}