//Начальные настройки
$container-width: 1000px;
$footer-height: 228px;

//Прижимние футера к низу
.html {
  height: 100%;
}
.body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  min-width: $container-width;
  &:after {
    content: '';
    display: block;
    height: $footer-height;
  }
}
.main-footer {
  margin-top: $footer-height*-1;
  min-width: $container-width;
  height: $footer-height;
}
//Контейнер
.container {
  position: relative;
  margin: 0 auto;
  width: $container-width;
  height: 100%;
  @extend %clearfix;
}
.container_middle {
  @extend %middle;
}
//Clearfix
%clearfix {
  &:before,&:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}
//Дополнительные классы
.bold {
  font-weight: bold;
}
.text-hide {
  text-align: left;
  display: inline-block;
  text-indent: -9999px;
}
%pos-l {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -1.625em;
}
%pos-r {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.625em;
}
%pos-c {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -1.625em;
   margin-left: -9.625em;
}
%word-wrap {
  display: block;
  white-space: pre;           /* CSS 2.0 */
  white-space: pre-wrap;      /* CSS 2.1 */
  white-space: pre-line;      /* CSS 3.0 */
  white-space: -pre-wrap;     /* Opera 4-6 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  white-space: -moz-pre-wrap; /* Mozilla */
  white-space: -hp-pre-wrap;  /* HP Printers */
  word-wrap: break-word;      /* IE 5+ */
}
.col-left {
  float: left;
  @extend %clearfix;
}
.col-right {
  float: right;
  @extend %clearfix;
}
.wrap {
  position: relative;
  display: block;
  @extend %clearfix;
}
.bg-grey {
  background: #eef2f4;
}
.col1-3 {
  width: 33%;
  float: left;
}
.col1-3a {
  position: absolute;
  left: 0;
  top: 0;
  width: 33%;
  height: 100%;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.col2-3a {
  position: absolute;
  left: 33%;
  top: 0;
  width: 33%;
  height: 100%;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.col3-3a {
  position: absolute;
  right: 0;
  top: 0;
  width: 33%;
  height: 100%;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.center {
  text-align: center;
}
//align
%middle {
  font-size: 0;
  &:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
