section.header__top
    .container
        .col1-3a.left
            .social__wrap
                ul.social
                    - var socials = {vk_header:"Вконтакте", fb_header:"Фейсбук", tw_header:"Твиттер"}
                    - each value,kay in socials
                        li.social__item
                            a(class="social__link "+"sprite " +"sprite-"+kay+ " text-hide", href="#")=value
        .col2-3a.center
            .address__wrap
                address.address
                    i(class="address__ic sprite sprite-addres_ic")
                    span.address__text г. Москва, ул. Новая 246, офис 214
        .col3-3a.right
            .telephone__wrap
                .telephone
                    span.telephone__mod +7 (921)
                    | 322 12 32
section.header__bottom
    .container
        .col1-3a.left.widthp1
            .logo__wrap
                .logo
                    img(class="logo__img" src="./img/logo.png")
                    span.text-hide ЭпплShop
        .col2-3a.right.widthp2
            .search__wrap
                form.search
                    input(class="search__input" type="text" placeholder="iMac 27 дюймов")
                    button(class="search__btn" type="submit") Поиск
        .col3-3a.left.widthp3
            .user-panel__wrap
                ul.user-panel
                    li.user-panel__item
                        a(class="user-panel__link", href="#") Карта проезда
                    li.user-panel__item
                        a(class="user-panel__link", href="#") История заказов
                    li.user-panel__item.user-panel__item_korzina
                        a(class="user-panel__link", href="#")
                            i.user-panel__link__ic.sprite-korzina.sprite
                            span.user-panel__link__text Корзина (
                                span.user-panel__link__number 3
                                |)
                            .user-panel__link-hover
                             ul.user-panel__link-hover__list
                                 li.user-panel__link-hover__item
                                     .user-panel__link-hover__ic__wrap
                                        i(class="user-panel__link-hover__ic sprite sprite-iphone_6")
                                     .user-panel__link-hover__link__wrap
                                        a(class="user-panel__link-hover__link", href="#")= "iPhone 6"
                                 li.user-panel__link-hover__item.user-panel__link-hover__item_gray
                                     .user-panel__link-hover__ic__wrap
                                        i(class="user-panel__link-hover__ic sprite sprite-ipad")
                                     .user-panel__link-hover__link__wrap
                                        a(class="user-panel__link-hover__link", href="#")= "iPad Air Wi-Fi + Cellular 128GB - Silver"
                                 li.user-panel__link-hover__item
                                     .user-panel__link-hover__ic__wrap
                                        i(class="user-panel__link-hover__ic sprite sprite-macbook")
                                     .user-panel__link-hover__link__wrap
                                        a(class="user-panel__link-hover__link", href="#")= "Macbook Air"
nav.navigation
    .container

        ul.nav-main
            li.nav-main__item
                a(class="nav-main__link nav-main__link_margin", href="#") Мобильные телефоны
            li.nav-main__item
                a(class="nav-main__link", href="#") Планшеты
            li.nav-main__item
                a(class="nav-main__link", href="#") Мр3 плееры
            li.nav-main__item
                a(class="nav-main__link", href="#") Персональные компьютеры
            li.nav-main__item
                a(class="nav-main__link", href="#") Ноутбуки
            li.nav-main__item
                a(class="nav-main__link", href="#") Apple TV
            li.nav-main__item
                a(class="nav-main__link nav-main__link_active", href="#") Аксесуары



