.container
    section.product-navigation
        .nav-product__wrap
            ul.nav-product
                li.nav-product__item
                    a(class="nav-product__link",href="#") Главная
                li.nav-product__item
                    a(class="nav-product__link",href="#") Каталог
                li.nav-product__item.nav-product__item_last-child
                    span.nav-product__text iPad Air Wi-Fi + Cellular 128GB - Silver
    section.preview
        article.product-slider
            .slider-product-for__wrap
                #slider-product-for
                    img(class="slider-product__img", src="./img/slide-4.jpg")
                    img(class="slider-product__img", src="./img/slide-4.jpg")
                    img(class="slider-product__img", src="./img/slide-4.jpg")
                    img(class="slider-product__img", src="./img/slide-4.jpg")
                    img(class="slider-product__img", src="./img/slide-4.jpg")
                    img(class="slider-product__img", src="./img/slide-4.jpg")
            .slider-product__wrap
                #slider-product
                    img(class="slider-product__img", src="./img/slide-1.jpg")
                    img(class="slider-product__img", src="./img/slide-2.jpg")
                    img(class="slider-product__img", src="./img/slide-3.jpg")
                    img(class="slider-product__img", src="./img/slide-1.jpg")
                    img(class="slider-product__img", src="./img/slide-2.jpg")
                    img(class="slider-product__img", src="./img/slide-3.jpg")
        article.product-info
            .product-info__title__wrap
                h2.product-info__title iPad Air Wi-Fi + Cellular 128GB - Silver
            .product-specs__wrap
                dl.product-specs
                    dt.product-specs__spec Артикул
                    dd.product-specs__desc 42787825
                    dt.product-specs__spec.bg-grey Артикул
                    dd.product-specs__desc.bg-grey 42787825
                    dt.product-specs__spec Артикул
                    dd.product-specs__desc 42787825
                    dt.product-specs__spec.bg-grey Артикул
                    dd.product-specs__desc.bg-grey 42787825
                    dt.product-specs__spec Артикул
                    dd.product-specs__desc 42787825
                    dt.product-specs__spec Артикул
                    dd.product-specs__desc 42787825
                    dt.product-specs__spec.bg-grey Артикул
                    dd.product-specs__desc.bg-grey 42787825
                    dt.product-specs__spec Артикул
                    dd.product-specs__desc 42787825
                    dt.product-specs__spec.bg-grey Артикул
                    dd.product-specs__desc.bg-grey 42787825
                    dt.product-specs__spec Артикул
                    dd.product-specs__desc 42787825
    section.about-store
        h2.about-store__title Пара слов о магазине
        .col1-3
            .store-info__wrap.store-info__wrap_first-child
                p.store-info
                    | Lorem ipsum dolor sit amet, consectetur adipisicing
                    | elit. Atque ex laboriosam natus numquam totam?
                    | Asperiores aspernatur, autem consequatur consequuntur
                    | deleniti enim impedit laboriosam laborum molestias
                    | nobis nostrum numquam qui quisquam, quod repellat
                    | sequi sunt. Aperiam culpa nemo omnis soluta suscipit?
                    | nobis nostrum numquam qui quisquam, quod repellat
                    | sequi sunt. Aperiam culpa nemo omnis soluta suscipit?
        .col1-3
            .store-info__wrap
                p.store-info
                    | Lorem ipsum dolor sit amet, consectetur adipisicing
                    | elit. Atque ex laboriosam natus numquam totam?
                    | Asperiores aspernatur, autem consequatur consequuntur
                    | deleniti enim impedit laboriosam laborum molestias
                    | nobis nostrum numquam qui quisquam, quod repellat
                    | sequi sunt. Aperiam culpa nemo omnis soluta suscipit?
                    | nobis nostrum numquam qui quisquam, quod repellat
                    | sequi sunt. Aperiam culpa nemo omnis soluta suscipit?
        .col1-3
            .store-info__wrap
                p.store-info
                    | Lorem ipsum dolor sit amet, consectetur adipisicing
                    | elit. Atque ex laboriosam natus numquam totam?
                    | Asperiores aspernatur, autem consequatur consequuntur
                    | deleniti enim impedit laboriosam laborum molestias
                    | nobis nostrum numquam qui quisquam, quod repellat
                    | sequi sunt. Aperiam culpa nemo omnis soluta suscipit?
                    | nobis nostrum numquam qui quisquam, quod repellat
                    | sequi sunt. Aperiam culpa nemo omnis soluta suscipit?
    .up__wrap
        a(class="up", href="#") Наверх
