doctype html
html.html
    head
        //Основные мета теги
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        //Заголовок страницы
        block title
        //SEO
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(name="author" content="")
        //CSS
        block css
        link(rel="stylesheet" href="./css/main.css")
        //JS
        script(src="./bower/modernizr/modernizr.js")
    body.body
        <!--[if lt IE 8]>
        <p class="browserupgrade">Ваш браузер <strong>устарел</strong>. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
        <![endif]-->
        .wrapper
            header.main-header
                block header
            main.main-contant
                block main
        footer.main-footer
            block footer
        //JS
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
        script window.jQuery || document.write('<script src="./bower/jquery/dist/jquery.js"><\/script>')
        block js
        script(src="./js/main.js")
