//- index.jade
extends _template
block title
    title Главная страница
block css
    link(rel="stylesheet",href="./bower/slick-carousel/css/slick.css")
    link(rel="stylesheet",href="./bower/slick-carousel/css/slick-theme.css")
block header
    include _header
block main
    include _product
block footer
    include _footer
block js
    //script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="./bower/slick-carousel/slick/slick.js")